<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/newEntry.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  
  <main class="new-entry">
    <section>
      <h3>Add a Bank</h3>
      <form action="/new-bank" method="POST">
        <div class="single_entry">
          <label for="bank">Bank</label>
          <input type="text" name="bank" required>
        </div>
        <div class="single_entry">
          <button>Submit</button>
        </div>
      </form>
    </section>
  </main>

<%- include('../includes/end.ejs') %>